@import '../../../styles/base.scss';
$font-size: 1.5em;
$dark-grey: #aaa;
$circle: 180px;

.hidden{
  opacity: 0;
  display:none;
}
.row {
  width: 100%;
  margin: 2em auto;
}

.profile {
  width: 50%;
  margin:2em auto 0;
  .thumb{
    margin:0 auto;
      .elem-img-wrap{
        width:$circle;
        height:$circle;
        border-radius:$circle/2;
        overflow:hidden;
      }
      .elem-img-wrap::before{
        content: "";
        display:block;
        width:100%;
        height:100%;
        background:url("../../../assets/img/pet.jpg") no-repeat -25px 0px;
      }
      .pet-tit{
       color:$mint;
       font-weight:900;
       margin-left:1rem;
      }
      .pet-input{
        width:180px;
        text-indent:8px;
      }
  }
}

.box-container {
  display: flex;
  position: relative;
  font-size: .8rem; //background: $white;
  /* border-radius: 20px; */
  border-radius: 5px;
  color: $black;
  background: white;
}

.box-left {
  width: 46%;
 /* padding: 2em;*/
 padding:0 2% 2em 2%;
 .elem-title{
   width:40%;
  }
}

.box-right {
  width: 50%;
 /* padding: 2em;*/
 padding:0 0 2em;
 .elem-title{
   width:50%;
  }
}

.elem {
  display: flex;
  padding: .25em;
  width: 100%;
  height:60px;
  border-bottom: 1px dashed $dark-grey;
  .elem-title {
    display: inline-block;
    /*font-size:1rem 변경*/
    font-size: 1.3em;
    font-weight:900;
    color: $mint;
    line-height:50px;
   /* padding-top: .3rem;*/
  }
  .elem-conts {
    width:100%;
  }
}
/*material radio font style, span tag as well*/

.pet-lists-elem{
  width:100%;
  height:200px;
  /*background:red;*/
  display: flex;
  flex-wrap:wrap;
 
  .pet-list{
    width:150px;
    height:290px;
    margin-bottom:20px;
    border-bottom:4px solid #aaa;
    /*margin-right:2.53em;*/
    /*border-radius:$circle/2;*/
    overflow:hidden;
    background:#fff;
    dl{
      width:100%;
      height:100%;
      dd{
        margin-bottom:0;
        padding:0 1em;
        font-size:.8em;
        span{
          font-size:.7em;
          font-weight:900;
          color:#1AA1A1;
        }
      }
      .more-info{
        text-align:right;
        cursor: pointer;
        padding:5px 1em;
        span{
          font-size:1em;
        }
      }
      .btn-wrap{
        overflow:hidden;
        padding:0;
        button{
          width:50%;
          height:30px;
          outline:1px solid #fff;
          float:left;
          display:block;
          color:#fff;
          font-weight:900;
          font-size:.8em;
          background:#1AA1A1 url("../../../assets/img/edit.png") no-repeat 88% 6px;
          background-size:18px;
        }
        button:last-child{
          background:#2a3a4b url("../../../assets/img/delete.png") no-repeat;
          background-position:92% 5px;
          background-size:20px;
        }
      }
    }
  }
  /*.pet-list:first-child{
    margin-left:0;
  }*/
  // test img
 
}


.mat-font-size{
  font-size:$font-size;
  padding-right:1em;
  line-height:50px;
  width:100px;
}

.species {
  padding: 0;
  margin: 0;
  font-size: .9rem;
}

.btn-footer {
  margin: 1.5rem;
  padding: 0.5rem 2rem;
}

.btn-small {
  line-height: 1;
  font-size: .8rem;
  &.btn-radius {
    border-radius: 5px;
  }
}

.btn-set-wrapper {
  margin: auto;
}

.box-footer {}

.color-chips {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline;
    input[type=radio] {
      position: absolute;
      visibility: hidden;
    }
    label {
      border: 2px solid #fff;
      cursor: pointer;
      display: inline-block;
      font-weight: bold;
      height: 40px;
      line-height: 40px;
      text-align: center;
      width: 40px;
      span {
        opacity: 0.6;
      }
    }
    .check {
      display: inline-block;
      border: 1px solid #fff;
      line-height: 30px;
      height: 30px;
      text-align: center;
      transition: border .25s linear;
    }
    &.gradationA-1 label {
      background: darken($mint, 25%);
    }
    &.gradationA-2 label {
      background: darken($mint, 13%);
    }
    &.gradationA-3 label {
      background: $mint;
    }
    &.gradationA-4 label {
      background: lighten($mint, 13%);
    }
    &.gradationA-5 label {
      background: lighten($mintL, 25%);
    }
    &.gradationB-1 label {
      background: darken($orange, 25%);
    }
    &.gradationB-2 label {
      background: darken($orange, 13%);
    }
    &.gradationB-3 label {
      background: $orange;
    }
    &.gradationB-4 label {
      background: lighten($orange, 13%);
    }
    &.gradationB-5 label {
      background: lighten($orange, 25%);
    }
  }
}

#selected {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}

.margin-right{
  margin-right:2.53em;
}

.margin-none{
  margin-right:0;
}

.filebox{
 position:relative;
}
.filebox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
}

.filebox label {
	display: inline-block;
	padding: .5em .75em;
	color: #999;
	font-size: inherit;
	line-height: normal;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
  border-radius: .25em;
  position:absolute;
  right:-30px;
  top:-40px; 
}

/* named upload */
.filebox .upload-name {
	display: inline-block;
	padding: .5em .75em;
	font-size: inherit;
	font-family: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filebox.bs3-primary label {
  color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

/*.fileBox .fileName {display:inline-block;width:190px;height:30px;padding-left:10px;margin-right:5px;line-height:30px;border:1px solid #aaa;background-color:#fff;vertical-align:middle}
.fileBox .btn_file {display:inline-block;border:1px solid #000;width:100px;height:30px;font-size:0.8em;line-height:30px;text-align:center;vertical-align:middle}
input[type="file"]{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
*/
.img{
  width:100%;
  height:150px;
  background:green url("../../../assets/img/pet.jpg") no-repeat -38px 0px;
}

  .pet-order-1{
    background:green url("../../../assets/img/pet.jpg") no-repeat -38px 0px;
  }
  .pet-order-2{
    background:green url("../../../assets/img/pet.jpg") no-repeat -35px -280px;
  }
  .pet-order-3{
    background:green url("../../../assets/img/pet.jpg") no-repeat -290px 0px;
  }
  .pet-order-4{
    background:green url("../../../assets/img/pet.jpg") no-repeat -40px -420px;
  }
  .pet-order-5{
    background:green url("../../../assets/img/pet.jpg") no-repeat -168px 0px;
  }