.container {
  padding: 0 0 !important;
}

.content-body {
  width: 40% !important;
  border-radius: 0 !important;
  padding: 20px 3% 30px 3% !important; 
}

.form-label-last {
  margin-bottom: 0 !important;
}

.row {
  justify-content: center;
  // flex-direction: column;
}

.brand {
  height: 190px;
}

.logo {
  position: absolute !important;
  top: 100px;
}
