<h1>Sign in</h1>
<div class="container">
  <div class="row profile">
    <h2>WOOLTARI</h2>
    <div class="logo">
      <div> logo img </div>
      <img class="logo-image" src="" alt="Wooltari's logo">
    </div>
  </div>

  <form [formGroup]="userForm" (ngSubmit)="signin()" novalidate>
    <div class="row box-container">
      <div class="box-center">
        <div class="right-side">
          <div class="elem">
            <div class="elem-conts">
              <span class="sign-up-link">
                <a href="#">Sign Up</a>
              </span>
              <span class="sign-in-link">
                <a href="#">Sign In</a>
              </span>
            </div>
          </div>
        </div>

        <div class="elem">
          <div class="elem-conts">
            <div class="input-email">
              <input type="email" name="useremail" class="form-control" formControlName="userEmail" placeholder="iLovePets@example.com">
              <em *ngIf="userEmail.errors?.required && userEmail.touched" class="">
                Enter your email!
              </em>
            </div>
          </div>
        </div>

        <div class="elem">
          <div class="elem-conts">
            <div class="input-password">
              <input type="password" name="newpassword" class="form-control" formControlName="password" placeholder="Enter New Password">
              <em *ngIf="password.errors?.required && password.touched" class="">
                Enter your New Password!
              </em>
            </div>
          </div>
        </div>

        <div class="elem">
          <div class="remember-me">
            <input type="checkbox" class="remember-me-checkbox">
            <span>Remeber me</span>
          </div>
        </div>

        <div class="facebook-sign-in">Facebook sign in</div>
        <div class="google-sign-in">Google sign in</div>
      </div>
    </div>

    <div class="row box-footer">
      <div class="btn-set-wrapper">
        <button type="submit" class="btn btn-type1 bg-orange" [disabled]="userForm.invalid">Submit</button>
        <button class="btn btn-type1 bg-grey">Cancel</button>
      </div>
      <!-- 잘못된 정보 입력시 서버 통신 후 경고창 -->
      <div *ngIf="isError" class="alert alert-danger">{{ message }}</div>
    </div>
  </form>
</div>