<h1>Login</h1>
<div class="container">
  <div class="row brand">
    <h2>WOOLTARI</h2>
    <div class="logo">
      <img class="logo-image" src="../../../../assets/img/logo-dog.png" alt="Wooltari's logo">
    </div>
  </div>
    
  <div class="content-body">  
    <form [formGroup]="userForm" (ngSubmit)="signin()" novalidate>
      <div class="content-section">
        <input type="button" value="Facebook login" class="facebook-btn login-btn" />
      </div>

      <!-- 유저 이메일 입력창 시작 -->
      <div class="form-label">
        <!-- <label for="email">Email</label> -->
        <input type="email" name="useremail" id="email" class="form-control" formControlName="userEmail" placeholder="Enter your Account">
        <span *ngIf="userEmail.errors?.required && userEmail.touched" class="">
          Enter your Account!
        </span>
      </div>
      <!-- 유저 이메일 입력창 끝 -->

      <!-- 유저 비밀번호 입력창 시작 -->
      <div class="form-label">
        <!-- <label for="password">Password</label> -->
        <input type="password" name="newpassword" id="password" class="form-control" formControlName="password" placeholder="Enter your Password">
        <em *ngIf="password.errors?.required && password.touched" class="">
          Enter your Password!
        </em>
      </div>
      <!-- 유저 비밀번호 입력창 끝 -->
    
      <!-- 로그인 유지 창 시작 -->
      <!-- <input type="checkbox" class="remember-me-checkbox">
      <span>Remeber me</span> -->
      <!-- 로그인 유지 창 끝 -->
      
      <div class="form-label form-submit">
        <input type="submit" class="register-btn" value="Login" [disabled]="userForm.invalid">
      </div>
      <div class="form-label-last">
        <!-- submit-btn -->
        <input type="submit" class="register-btn" value="Signup" (click)="navSignup()">
      </div>
      <!-- 잘못된 정보 입력시 서버 통신 후 경고창 -->
      <div *ngIf="isError" class="alert alert-danger">{{ message }}</div>
    </form>
  </div>
</div>