    /*container*/
    .container{
        padding-left:80px;
        width:1000px;
        min-width:1000px;
        margin: 0 auto;
    }
    /*content body*/
    .content-body{
        width:60%;
        padding:20px 5% 0 5%;
        background:#fff;
        margin:0 auto;
    }

    /*content-header*/
    /*.content-header {width:100%; font-size:16px; color:#484848;
        height:50px; background: #EDEFED; line-height:50px; text-indent:3%;
        border-bottom:1px solid #DCE0E0;}*/
    /*content section*/
    .content-section{
        width:100%;
        padding-bottom:20px;
        border-bottom:1px solid #ccc;
    }
    .login-btn{
        border:none;
        color:#fff;
        text-align: center;
        font-weight:900;
        cursor: pointer;
    }

    .facebook-btn{
        background:#4468B2;
    }

    .facebook-btn:hover{
        background:rgba(68, 104, 178, .7);
    }
    /*form-container*/
    .form-container{
        width:100%;
        padding-top:20px;
       /* background:#red;*/
    }

    .form-label{
        height:80px;
    }

    input{
        width:100%;
        height:50px;
        border:1px solid #aaa;
        text-indent:8px;
        cursor: pointer;
    }

    .validated{
        background:#fff8e5;
        border-color:#ffb400;
    }
    
    input:focus{
        outline-width:2px;
    }
    
    .info{
        color:#76768C;
        display:block;
        margin:6px 0 0 0;
        font-size:14px;
    }

    /*submit*/
    .submit-btn{
        background: #1B1E25;
        color:#fff;
        font-weight:900;
    }

    .submit-btn:hover{
        background:rgba(27,30, 37, .7)
    }

    .form-submit{
        padding-top:20px;
        border-top:1px solid #ccc;
    }

    .register-btn{
        background:#fff;
        color: #1a2c38;
        border:1px solid #1a2c38;
        font-weight:900;
    }
