

<h1 class="hidden">Pet profile</h1>
<!-- *ngFor="let petList of petLists-->
<div class="container">
  <!--<div class="row profile">
    <div class="thumb">
      <div class="elem-img-wrap">
      </div>
       <img src="../../assets/img/pet.jpg" alt="img-profile"/>
      <div>
        <h2 class="pet-tit">Pet name </h2>
       
      </div>
      <i class="icon-edit">icon</i>
    </div>
  </div>-->
  <!-- form -->
  <div class="form">
    <form [formGroup]="petForm">
      <!--profile-->
      <div class="row profile">
          <!-- thumb -->
          <div class="thumb">
            <!--img-wrap-->
            <div class="elem-img-wrap">
            </div>
            <!--img-wrap-->
            <!--input file-->
            <div class="filebox bs3-primary">
                  <!--<input class="upload-name" value="파일선택" disabled="disabled">-->
                  <input type="file" id="ex_filename"
                  (change)="readUrl(fileInput.files)"
                  class="upload-hidden"
                  #fileInput> 
                  <label for="ex_filename"></label>
            </div>
            <!--input file-->
            <!--input tit-->
            <div>
                <h2 class="pet-tit">Pet name</h2>
                <input type="text" class="pet-input"
                    placeholder="Write your pet's name"
                    formControlName="name"
                    value="name.value"
                />
            </div>
            <!--input tit-->
          </div>
          <!--thumb-->
      </div>
      <!--profile-->
      <div class="row box-container">
        <div class="box-left">
          <div class="elem">
            <h4 class="elem-title">Species</h4>
            <div class="elem-conts">
               <mat-radio-group id="species"
                    formControlName="species"
                    (change)="changeBreedList(species.value)">
                    <mat-radio-button
                      *ngFor="let type of petType.types;
                      let i = index"
                      value="{{type}}"
                      class="mat-font-size"
                  >{{type}}</mat-radio-button>
                </mat-radio-group>
                  <!--
                    (change)="petService.changeBreedList(species)"
                    <mat-radio-button
                  *ngFor="let type of petType.types;
                   let i = index"
                   value="{{type}}"
                   class="mat-font-size"
                   (change)="petService.changeBreedList(species.value)"
                   [checked]="i ===  checkedSpecies(petSpecies)";  
               >{{type}}</mat-radio-button>-->
            </div>
          </div>
          <!-- // elem1-->
          <div class="elem">
            <h4 class="elem-title">Breeds</h4>
            <div class="elem-conts">
              <mat-form-field id="breeds">
                <mat-select formControlName="breeds"
                      placeholder="Select breed">
                  <mat-option *ngFor="let pet of petArray;"
                        value="{{pet.breeds_name}}">
                    {{pet.breeds_name}}
                  </mat-option>
                </mat-select>
                <!--
                  <mat-select
                      formControlName="breeds"
                      placeholder="Select breed"
                >
                  <mat-option 
                    *ngFor="let pet of petArray;"
                    value="{{pet.breeds_name}}"
                    >
                    {{pet.breeds_name}}
                  </mat-option>
                </mat-select>
                -->
              </mat-form-field>
            </div>
          </div>
          <!-- //elem2 -->
          <div class="elem">
            <h4 class="elem-title">Birth</h4>
            <div class="elem-conts">
              <mat-form-field id="birth" >
                <input
                   matInput
                   [matDatepicker]="picker1"
                   placeholder="Click Pet's birth day"
                   formControlName="birthDate"
                >
                <!--/*[value]="date.value"-->
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker1"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker1
                ></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <!-- // elem3 -->
          <div class="elem">
            <h4 class="elem-title">Number</h4>
            <div class="elem-conts">
              <mat-form-field hintLabel="15 characters">
                <input 
                    matInput
                    #input
                    maxlength="15"
                    placeholder="Enter pet's register number"
                    formControlName="number"               
                >
                <mat-hint align="end">{{input.value?.length || 0}}/15</mat-hint>
              </mat-form-field>
              <button type="button" class="btn btn-small btn-radius btn-mint">search</button>
            </div>
          </div>
          <!-- // elem4 -->
          <div class="elem">
            <h4 class="elem-title">Body Color</h4>
            <div class="elem-conts">
              <mat-form-field id="body-color">
                <mat-select formControlName="bodyColor" placeholder="Select pet's body color">
                  <mat-option *ngFor="let color of petType.colors" value="{{ color }}">{{color}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- // box-left-->
        <div class="box-right">
          <div class="elem right-elem">
              <h4 class="elem-title leftside-tit">Pet's age</h4>
              <p class="elem-conts">
                <span class="mat-font-size">{{petAge}}</span>
              </p>
          </div>
          <div class="elem right-elem">
              <h4 class="elem-title leftside-tit">Pet's human age</h4>
              <p class="elem-conts">
                <span class="mat-font-size">{{converAge}}</span>
              </p>
          </div>
          <!-- // elem1 -->
          <div class="elem">
            <h4 class="elem-title leftside-tit">Gender</h4>
            <div class="elem-conts">
              <mat-radio-group formControlName="gender">
                  <mat-radio-button
                  *ngFor="let gender of petType.genders; let i = index"
                  [checked]="i === 0"
                  value="{{ gender }}"
                  class="mat-font-size"
                  >{{gender}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <!-- //elem2 -->
          <div class="elem">
            <h4 class="elem-title leftside-tit">Neutralization</h4>
            <div class="elem-conts">
              <mat-radio-group id="neutralization" formControlName="operation">
                <mat-radio-button
                 *ngFor="let item of petType.operation;
                  let i = index"
                  value="{{item.boolean}}"
                  [checked]="i === 1"
                  class="mat-font-size"
                >{{item.visible}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
        <!-- //box-right -->
      </div>
      <!-- box-container -->
      <div class="row box-footer">
        <div class="btn-set-wrapper">
          <button type="button"
          class="btn btn-radius btn-footer btn-orange"
          (click)="onEdit()">Edit</button>
        </div>
      </div>
      <!--  box-footer -->
    </form>
  </div> 
  <!-- form -->
  <!--<div class="pet-lists-elem">
    <div class="pet-list pet-order-1"></div>
    <div class="pet-list pet-order-2"></div>
    <div class="pet-list pet-order-3"></div>
    <div class="pet-list pet-order-4"></div>
    <div class="pet-list pet-order-5"></div>
  </div>-->
  <pre>
    {{ petForm.value | json }}
  </pre>
</div>
<!-- // container-->