<!--<app-sidebar></app-sidebar>-->
<h1>Login</h1>
<div class="content-wrap">
  <!--필수사항-->
  <h2 class="content-header">필수사항</h2>
  <!--필수사항-->
  <!--login-->
  <div class="content-body">
    <form [formGroup]="loginForm" novalidate>
      <div class="form-label">
        <label for="아이디">아이디</label>
        <input class="test" [class.validated]="userBoolean"
        type="email" name="useremail" placeholder="iLovePets@example.com" formControlName="email">
        <span *ngIf="userIdRequired" class="info">
           이메일을 입력해주세요.
        </span>
        <span *ngIf="userIdPattern" class="info">
            이메일 형식을 기입해주세요.
         </span>
      </div>
      <div class="form-label">
          <label for="패스워드">패스워드</label>
          <input type="password" [class.validated]="pwdBoolean" name="userpassword" placeholder="Enter Password" formControlName="password">        
          <span *ngIf="pwdRequired" class="info">
            패스워드를 입력하세요!
          </span>
          <span *ngIf="pwdPattern" class="info">
            패스워드는 영문자가 포함한 8자부터 12자까지입니다!
          </span>
      </div>
      <div class="form-submit">
          <!-- submit-btn -->
          <input type="submit"  class="form-control submit-btn"
         value="로그인" (click)="onSubmit()">
         <input type="submit"  class="form-control submit-btn"
         value="로그아웃" (click)="logout()">
      </div>
    </form>
  </div>
  <!--login-->
  <!--<div>
    {{pets | json}}
  </div>
  <div>
    {{loginForm.status}}
  </div>-->
</div>
