/* ++++++++++++++++++++++++++++++++++ base.scss ++++++++++++++++++++*/
/* Color scheme */

$white: #fff;
$grey1: #f9fafa !default;
$grey2:#DBE5EA !default;
$grey3: #bdc3c8 !default;
$grey4: #7f8c8d!default;
$deep: #35495e !default;
$darky: #2a3a4b !default;
$black: #253341 !default;
$orange: #FE7A53 !default;
$mint: #1aa1a1 !default;
$mintL: #73bbc0 !default;
$mintD: #0b575f !default;

$custom-colors: () !default;
$custom-colors: map-merge(( 
  "grey1" : $grey1,
  "grey2" : $grey2,
  "grey3" : $grey3,
  "grey4" : $grey4,
  "deep" : $deep,
  "darky" : $darky,
  "black" : $black,
  "orange" : $orange,
  "mint" : $mint,
  "mintL" : $mintL,
  "mintD": $mintD,
  ), $custom-colors);


  $custom-color-interval: 8% !default;
@each $color,
$value in $custom-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color,
$value in $custom-colors {
  .btn-outline-#{$color} {
    @if $color=="light" {
      @include button-outline-variant($value, $gray-900);
    }
    @else {
      @include button-outline-variant($value, $white);
    }
  }
}


body {
   /* 선화님 */
  /* background: $deep; */
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
} 
h1 {
  opacity: 0;
  height: 5%;
  position: relative;
}

.container {
  width: 90%;
  max-width: 70em;
  margin: 0 auto;
  padding: 0 5em 3.125em 10em;
}

/* Button */

button {
  text-transform: uppercase;
  font-size: 1rem;
}

.btn-radius {
  border-radius: 3em;
}

.btn-orange {
  color: white;
}

.btn-type1-mint {
  border: 2px solid $mint;
  color: $mint;
  background: {
    image: linear-gradient(to bottom, transparent 50%, $mint 50%);
    position: 0% 0%;
    size: 200%;
  }
  transition: background 150ms ease-in-out,
  color 150ms ease-in-out;
  &:hover {
    color: #fff;
    background-position: 0 100%;
  }
}

.btn-type1-orange {
  border: 2px solid $orange;
  color: $orange;
  background: {
    image: linear-gradient(to bottom, transparent 50%, $orange 50%);
    position: 0% 0%;
    size: 200%;
  }
  transition: background 150ms ease-in-out,
  color 150ms ease-in-out;
  &:hover {
    color: #fff;
    background-position: 0 100%;
  }
}

.btn-type2-orange {
  background: lighten($orange, 5%);
  border: 1px solid darken($orange, 3%);
  box-shadow: 0px 2px 0 darken($orange, 5%), 1px 2px 2px darken($orange, 2%);
  color: white;
  &:hover {
    background: darken($orange, 1.5%);
    border: 1px solid rgba(#000, .05);
    box-shadow: 1px 1px 2px rgba(#fff, .2);
    color: lighten($orange, 18%);
    text-decoration: none;
    text-shadow: -1px -1px 0 darken($orange, 9.5%);
  }
}

.radio-group {
  /* border: solid $borderWidth $fg;*/
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
  }
  label {
    color: $grey4;
    font-weight: bold;
    padding: .25em;
    margin-bottom: 0;
  }
  input[type=radio]:checked+label {
    color: $orange;
  }
}


/* 버튼 샘플링 */

.btn-sample {
  p {
    margin-top: 1em;
    font-size: 1.3em;
  }
  padding: 3em;
  &.bg-white {
    background: white;
  }
  &.bg-color {
    background: $dark;
    color: $grey2;
  }
  &.bg-orange {
    background: $orange;
  }
}


/* ++++++++++++++++++++++++++++++++++ base.scss ++++++++++++++++++++*/
