@import '../../../styles/base.scss';

a{
  color:#000;
}
/* 펫정보 view */
.summary-view {
  position:relative;
  padding:15px;
  margin-bottom: 30px;
  background:#fff;
  border-radius:4px;
  border-top:6px solid $grey2;
}
.summary-view h3{
  display:inline-block;
  padding:5px 8px 6px 8px;
  margin-bottom: 15px;
  font-size:1.2em;
  background-color:$mint;
  color:#fff;
  border-left:6px solid $orange;
}
.summary-view:last-child {
  margin-bottom: 0;
}

.pet-profile:after {
  display: block;
  clear: both;
  content: '';
}

.pet-profile-view {
  position: relative;
  border-right:1px solid $grey3;
}

.pet-info-left{
  position:relative;
  margin:3px 0 0 0;
  width: 170px;
  height: 170px;
}

.pet-profile-view .pet-info-left .pet-info-img {
  width: 170px;
  height: 170px;
  border-radius:85px;
  overflow:hidden;
}

 .blind{
   visibility:hidden;
   overflow:hidden;
   position:absolute;
   top:0;
   left:0;
   width:0;
   height:0;
   font-size:0;
   line-height:0
  }

.pet-name{
  border-radius: 5px;
  position: absolute;
  bottom:10px;
  left:0;
  right:0;
  text-align:center;
  background-color: $mint;
  color:#fff;
}

.pet-profile-keywords>ul {
  margin:3px 4px 0 0;
  width: 170px;
  height: 170px;
  overflow: hidden;
}

.pet-profile-keywords>ul>li:nth-child(even) {
  margin-right: 0;
}

.pet-profile-view,
.pet-info-left,
.pet-info-details {
  float: left;
}

.pet-profile-keywords>ul>li {
  float: left;
  margin: 0 10px 10px 0;
  padding:10px;
  width: 80px;
  height: 80px;
  border-radius:2px;
  text-align:center;
}

.pet-profile-keywords {
  float: right;
  position:relative;
}

.pet-profile-keywords .keyword-1{
  background:$grey3;
}

.pet-profile-keywords .keyword-2{
  background:$grey4;
}

.pet-profile-keywords .keyword-3{
  background:$mintL;
}

.pet-profile-keywords .keyword-4{
  background:$mintD;
  color:#fff;
}

.key-type strong{
  font-size:18px;
}

.key-type{
  margin:5px 0 3px 0;
  font-size:12px;
  line-height:1.2em;
}

.key-type-short{
  margin:8px 0 10px 0;
}

.pet-profile:after {
  display: block;
  clear: both;
  content: '';
}

.pet-info-details {
  position:relative;
  margin: 30px 20px 0 20px;
  font-size: 0.9em;
}

.no-data{
  position:absolute;
  top:0;
  left:0;
  background:#fff;
  opacity:0.7;
  border-radius:2px;
  width:100%;
  height:100%;
}

.no-data .edit-msg{
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-6px;
  margin-left:-123px;
  display:block;
  font-size:17px;
  line-height:1em;
  color:$black;
}

.pet-info-details table {
  min-width:458px;
  text-align: left;
}

.pet-info-details table tr>* {
  padding-bottom: 10px;
}

.pet-info-details table tr th {
  padding-right: 10px;
  color: $mint;
  font-size:1rem;
}

.pet-info-details table tr td {
  padding-right: 15px;
  font-size:0.8rem;
}

.pet-info-details table tr td:last-child {
  padding-right: 0;
}

.red-txt{
  color:#ff1a1a;
}

.btn-edit-pet {
  position: absolute;
  right: 20px;
  top: 0;
}

/*vaccin table view*/
.vaccin-tbl-wrap {
  margin:0 auto;
  width:600px;
}

.vaccin-tbl-wrap table {
  border-top:2px solid #8080ff;
  border-bottom:1px solid #8080ff;
  width:100%;
  text-align:center;
}

.vaccin-tbl-wrap table tr th {
  padding:5px 0;
  border-bottom:1px solid #b3b3ff;
  background: #ccddff;
  font-weight:bold;
  font-size:0.9em;
}
.vaccin-tbl-wrap table tr:nth-child(2n-1) {
  background: #e6eeff;
}

.vaccin-tbl-wrap table tr td{
  padding:3px 0;
  font-size:0.8em;
}

.medical-view-wrap .flexbox ul .flex-card-listitem{
  margin-bottom:0;
  width:245px;
}

.medical-view-wrap .flexbox ul .flex-card-listitem .flex-card .flex-card-image{
  height:100px;
}

.medical-view-wrap .flexbox ul .flex-card-listitem .flex-card .flex-card-image img{
  width:185px;
  height:100px;
}

.more-btn{
  position:absolute;
  top:15px;
  right:15px;
  display:inline-block;
  padding:4px 8px;
  border:1px solid $mint;
  border-radius:8px;
  font-size:0.7em;
  color:$mint;
}
.more-btn:hover{
  background-color:$mint;
  color:#fff;
  text-decoration:none;
}
.more-btn i {
  vertical-align:middle;
}
/*지울것*/
.pet-graph-wrap{
  margin:0 auto;
  width:602px;
}
.pet-graph-wrap img{
  width:100%;
}
