<div class="container">
  <h1>Dashboard</h1>
  <div class="summary-view pet-profile">
    <div class="pet-profile-view">
      <a [routerLink]="['/petedit']" ><button class="btn-edit-pet">edit</button></a>
      <p class="pet-info-img">
        펫이미지
      </p>
      <div class="pet-info-details">
        <table>
          <tbody>
            <tr>
              <th scope="row">Breeds</th>
              <td>Cockers Spaniel</td>
              <th scope="row">Age</th>
              <td>11</td>
              <th scope="row">Neck size</th>
              <td>35cm</td>
            </tr>
            <tr>
              <th scope="row">Birth</th>
              <td>2007.03.10</td>
              <th scope="row">Human Age</th>
              <td>64</td>
              <th scope="row">Chest size</th>
              <td>65cm</td>
            </tr>
            <tr>
              <th scope="row">Number</th>
              <td>333332444002345</td>
              <th scope="row">Sex</th>
              <td>female</td>
              <th scope="row">Height</th>
              <td>80cm</td>
            </tr>
            <tr>
              <th scope="row">Color</th>
              <td>red</td>
              <th scope="row">Neutralization</th>
              <td>Yes</td>
              <th scope="row">Weight</th>
              <td>13kg</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="pet-profile-keywords">
      <ul>
        <li class="keyword-1">
          <p class="key-type key-type-short"><strong>A</strong>ge</p>
          <span>11</span>
        </li>
        <li class="keyword-2">
          <p class="key-type"><strong>H</strong>uman Age</p>
          <span>63</span>
        </li>
        <li class="keyword-3">
          <p class="key-type key-type-short"><strong>W</strong>eight</p>
          <span>13kg</span>
        </li>
        <li class="keyword-4">
          <p class="key-type key-type-short"><strong>R</strong>ed</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="summary-view pet-graph">
    <h2>Graph</h2>
  </div>

  <div class="summary-view pet-vaccination">
    <h2>Vaccination</h2>
  </div>

  <div class="summary-view">
    <h2>Medical Info</h2>
  </div>
</div>
<pre>{{ user | json}}</pre>
