<div class="container">
  <h1>Dashboard</h1>
  <div class="summary-view pet-profile">
    <div class="pet-profile-view">
      <a [routerLink]="['/petedit']" *ngIf="noData"><button class="btn-edit-pet">edit</button></a>

      <div class="pet-info-left">
        <p class="pet-info-img">
          펫이미지
          <span class="pet-name">
            <em class="blind">pet's name:</em>
            <i class="fa fa-paw" aria-hidden="true"></i> {{ this.pet_name }}
          </span>
        </p>
      </div>
      
      <div class="pet-info-details">
        <ng-container *ngIf="true">
          <p class="no-data">
            <span class="edit-msg">펫 정보를 입력해주세요.
              <a [routerLink]="['/petedit']"><i class="fa fa-pencil-square fa-lg" aria-hidden="true"></i></a>
            </span>
          </p>
        </ng-container>
        <table>
          <tbody>
            <tr>
              <th scope="row">Breeds</th>
              <td>{{ this.breeds }}</td>
              <th scope="row">Age</th>
              <td>{{ this.ages }}</td>
              <th scope="row">Neck size</th>
              <td>35cm</td>
            </tr>
            <tr>
              <th scope="row">Birth</th>
              <td>{{ this.birth }}</td>
              <th scope="row">Human Age</th>
              <td>64</td>
              <th scope="row">Chest size</th>
              <td>65cm</td>
            </tr>
            <tr>
              <th scope="row">Number</th>
              <td>{{ this.id_number }}</td>
              <th scope="row">Sex</th>
              <td>{{ this.gender }}</td>
              <th scope="row">Weight</th>
              <td>13kg</td>
            </tr>
            <tr>
              <th scope="row">Color</th>
              <td>{{ this.body_color }}</td>
              <th scope="row">Neutralization</th>
              <td>{{ this.is_neutering }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="pet-profile-keywords">
      <ng-container *ngIf="true">
        <p class="no-data"></p>
      </ng-container>
      <ul>
        <li class="keyword-1">
          <p class="key-type key-type-short"><strong>A</strong>ge</p>
          <span>11</span>
        </li>
        <li class="keyword-2">
          <p class="key-type"><strong>H</strong>uman Age</p>
          <span>63</span>
        </li>
        <li class="keyword-3">
          <p class="key-type key-type-short"><strong>W</strong>eight</p>
          <span>13kg</span>
        </li>
        <li class="keyword-4">
          <p class="key-type key-type-short"><strong>R</strong>ed</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="summary-view pet-graph">
    <h2>Graph</h2>
  </div>

  <div class="summary-view pet-vaccination">
    <h2>Vaccination</h2>
  </div>

  <div class="summary-view">
    <h2>Medical Info</h2>
  </div>
</div>
<pre>{{ user | json}}</pre>
