<div class="hospital-header">
    <h2>{{ title }}</h2>
 </div>
  <div class="hospital-map-container">
    <agm-map
            [latitude]="lat"
            [longitude]="lng"
            [zoom]="zoom"
            [disableDefaultUI]="false"
            [zoomControl]="false"
    >
    <!-- [iconUrl]="'../assets/airbnb.png'"-->
      <agm-marker
            *ngFor="let m of markers; let i = index"
            [latitude]="m.lat"
            [longitude]="m.lng"
            [markerDraggable]="m.draggable"
           >
          <agm-info-window
               [isOpen]="true">
              <strong>{{m.name}}</strong>
          </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
  <!--card list-->
  <div class="flexbox">
    <h2 class="tit"><i class="icon-thumbs-up-alt"></i>24 hours hospitals</h2>
    <!-- card list -->
    <ul class="flex-card-list">
      <!-- card list item -->
      <li class="flex-card-listitem" *ngFor="let cardList of cardLists">
        <!-- card module -->
        <div class="flex-card">
          <!-- image container -->
          <div class="flex-card-image">
            <img [src]="cardList.img" alt="img"/>
          </div>
          <!-- content container -->
          <div class="flex-card-content">
            <h3 class="flex-card-heading">{{cardList.title}}</h3>
            <p class="tel"><i class="icon-phone"></i>{{cardList.tel}}</p>
            <p class="address">{{cardList.address}}</p>
            <!--flex-card-button-->
          </div>
        </div>
      </li>
      <!-- card list item -->
    </ul>
  </div>
  <!--card list-->
  <div class="flexbox near-hospital">
    <h2 class="tit">Hospitals near by me</h2>
    <!-- card list -->
    <ul class="flex-card-list">
      <!-- card list item -->
      <li class="flex-card-listitem" *ngFor="let cardList of cardLists">
        <!-- card module -->
        <div class="flex-card">
          <!-- image container -->
          <div class="flex-card-image">
            <img [src]="cardList.img" alt="img"/>
          </div>
          <!-- content container -->
          <div class="flex-card-content">
            <h3 class="flex-card-heading cursor"><i class="icon-plus-sign"></i>{{cardList.title}}</h3>
            <p class="tel"><i class="icon-phone"></i>{{cardList.tel}}</p>
            <p class="address">{{cardList.address}}</p>
            <!--flex-card-button-->
          </div>
        </div>
      </li>
      <!-- card list item -->
    </ul>
  </div>