/*++++++++++++ variable ++++++++++*/
$card-background: #aaa !default;
/*++++++++++++ variable ++++++++++*/

/*agm-map { width:100%; height:300px; }*/

.hospital-header{height:50px; color:#fff;}
.hospital-header h2{text-indent:90px;
  line-height:50px;}

.tit{ padding:.7em 0 0 5em; color:#fff;}
.tit i{padding-right:.3em;}
.near-hospital{padding-bottom:10em;}
.flexbox ul{list-style-type: none; padding: 0;}
.flexbox .flex-card-list {display:flex; flex-wrap:wrap;
  justify-content: center; padding-left:5%;}

.flexbox .flex-card-listitem {
  display:flex; /* padding: 1em;*/
  border-radius:4px;}

.icon-phone{padding:0 .3em;}

.flexbox .flex-card {display:flex; flex-direction:column;}

/* common to flex and non-flex */
.flex-card-list li {width:300px; margin: 1em;}

.flex-card{width:100%;}
.flex-card-image{width:100%; height:200px;}
.flex-card-image img{width:100%; height:200px;}

.flexbox .flex-card-content {
  display:flex;
  flex:1 0 auto; /* We have to add a basis for IE10/11 */
  flex-direction:column;
  padding:10px;
}

.flexbox .flex-card-content p {
  flex:1 0 auto; /* We have to add a basis for IE10/11 */
}

.flex-card-button {
  background-color: #00aeef;
  /*padding: 1em;*/
  text-align:center;
  text-decoration: none;
  color: white;
}

/*bootstrap default 위해서*/
.address{margin-top:-.5em; text-indent:.2em;}
.icon-plus-sign{padding-right:.5em;}
.cursor{cursor:pointer;}
.outline{outline:3px solid #000;}
///////////////////20180106///////////
/*++++++++++++ variable ++++++++++*/
$card-background: #aaa !default;
/*++++++++++++ variable ++++++++++*/

agm-map { width:100%; height:300px; }

.hospital-header{height:50px; color:#fff;}
.hospital-header h2{text-indent:90px;
  line-height:50px;}

.tit{ padding:.7em 0 0 5em; color:#fff;}
.tit i{padding-right:.3em;}
.near-hospital{padding-bottom:10em;}
.flexbox ul{list-style-type: none; padding: 0;}
.flexbox .flex-card-list {display:flex; flex-wrap:wrap;
  justify-content: center; padding-left:5%;}

.flexbox .flex-card-listitem {
  display:flex; /* padding: 1em;*/
  border-radius:4px;}

.icon-phone{padding:0 .3em;}

.flexbox .flex-card {display:flex; flex-direction:column;}

/* common to flex and non-flex */
.flex-card-list li {width:300px; margin: 1em;}

.flex-card{width:100%;}
.flex-card-image{width:100%; height:200px;}
.flex-card-image img{width:100%; height:200px;}

.flexbox .flex-card-content {
  display:flex;
  flex:1 0 auto; /* We have to add a basis for IE10/11 */
  flex-direction:column;
  padding:10px;
}

.flexbox .flex-card-content p {
  flex:1 0 auto; /* We have to add a basis for IE10/11 */
}

.flex-card-button {
  background-color: #00aeef;
  /*padding: 1em;*/
  text-align:center;
  text-decoration: none;
  color: white;
}

/*bootstrap default 위해서*/
.address{margin-top:-.5em; text-indent:.2em;}
.icon-plus-sign{padding-right:.5em;}
.cursor{cursor:pointer;}
