<!--card list-->
<div class="flexbox">
  <h2 class="tit"><i class="icon-thumbs-up-alt"></i>24시 동물병원</h2>
  <!-- card list -->
  <ul class="flex-card-list">
    <!-- card list item -->
    <li class="flex-card-listitem"
    *ngFor="let cardList of cardLists" >
      <!-- card module -->
      <div class="flex-card">
        <!-- image container -->
        <div class="flex-card-image">
          <img [src]="cardList.img" alt="img"/>
        </div>
        <!-- content container -->
        <div class="flex-card-content">
          <h3 class="flex-card-heading">{{cardList.name}}</h3>
          <p class="tel"><i class="icon-phone"></i>{{cardList.phone}}</p>
          <p class="address">{{cardList.address}}</p>
          <!--flex-card-button-->
        </div>
      </div>
    </li>
    <!-- card list item -->
  </ul>
</div>
<!--card list-->
<div class="flexbox near-hospital">
  <h2 class="tit">내 주변 병원</h2>
  <!-- card list -->
  <ul class="flex-card-list">
    <!-- card list item -->
    <li class="flex-card-listitem" [class.outline]="cardList.boolean"
    *ngFor="let cardList of cardLists let i = index">
      <!-- card module -->
      <div class="flex-card">
        <!-- image container -->
        <div class="flex-card-image">
          <img [src]="cardList.img" alt="img"/>
        </div>
        <!-- content container -->
        <div class="flex-card-content">
          <h3 class="flex-card-heading cursor"><i class="icon-plus-sign"></i>{{cardList.name}}</h3>
          <p class="tel"><i class="icon-phone"></i>{{cardList.phone}}</p>
          <p class="address">{{cardList.address}}</p>
          <!--flex-card-button-->
        </div>
      </div>
    </li>
    <!-- card list item -->
  </ul>
</div>
