
  <!-- <ul [ngClass]="{sidebarPushRight: isActive}"> -->
<nav>
  <div class="nav-wrapper">
    <div class="nav-menu nav-user"> 
      <a [routerLink]="['/profile']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{ exact: true }">
        <i fa [name]="'user-circle-o'" [size]="iconSize"></i>
          <span>User</span>
      </a>
    </div>
    <div class="nav-menu nav-pet">
      <ul class="menu nav-pet-list">
        <li *ngFor="let pet of pets" class="pet">
          <a [routerLink]="['/dashboard']">
            <img [src]="pet.image">
              <span>{{pet.name}}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="nav-menu nav-add-pet">
      <a [routerLink]="['/register']">
        <i fa [name]="'plus-circle'" [size]="iconSize"></i>
          <span>Add Pet</span>
        </a>
    </div>
    <div class="nav-menu nav-user">
      <a [routerLink]="['/hospital']">
        <i fa [name]="'hospital-o'" [size]="iconSize"></i>
          <span>병원</span>
      </a>
    </div>
  </div> <!--nav-wrapper-->
</nav>

<router-outlet></router-outlet>
