@import '../../../styles/base.scss';

nav {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $darky;
  z-index: 9999;
  .nav-wrapper {
    position: relative;
    top: 5%;
  }
}

.nav-menu {
  display: block;
  width: 3em;
  margin: 1em;
  a {
    display: block;
    height: 3em;
    background: $white;
    line-height: 3em;
    text-align: center;
    color: $grey4;
    position: relative;
    border-radius: 50%;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
    &i {
      display: block;
    }
    span {
      font-size: 0px;
    }
  }
}
.nav-pet-list {
  margin: 3em 0px;
}
.pet {
  margin:1em 0px;
  img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    &:hover {
      border: 1px solid $orange;
    }
  }
  a:hover{
    border: 1px solid $orange;
  }
}

nav a:hover,
nav .nav-user a {
  color: $white;
  background: $orange;
}

nav a:active {
  background: #afdefa;
  color: #FFF;
}

i { width: 50px;}

