/*container*/
    .container{
        padding-left:80px;
        width:1000px;
        min-width:1000px;
        margin: 0 auto;
    }
    /*content body*/
    .content-body{
        width:60%;
        padding:20px 5% 30px 5%;
        background:#fff;
        margin:0 auto;
        border-radius:20px;
    }

    /*content-header*/
    // .content-header {
    //     width:100%; font-size:16px; color:#484848;
    //     height:50px; background: #EDEFED; line-height:50px; text-indent:3%;
    //     border-bottom:1px solid #DCE0E0;
    // }

    /*content section*/
    .content-section{
        width:100%;
        padding-bottom:20px;
        border-bottom:1px solid #ccc;
    }
    .login-btn{
        border:none;
        color:#fff;
        text-align: center;
        font-weight:900;
        cursor: pointer;
    }

    .facebook-btn{
        background:#4468B2;
    }

    .facebook-btn:hover{
        background:rgba(68, 104, 178, .7);
    }
    /*form-container*/
    .form-container{
        width:100%;
        padding-top:20px;

       /* background:#red;*/
    }

    .form-label{
        // height:80px;
        margin-bottom: 20px;
    }

    label {
        margin-bottom: 0;
    }

    input{
        width:100%;
        height:50px;
        border:1px solid #aaa;
        text-indent:8px;
        cursor: pointer;
    }

    .validated{
        background:#fff8e5;
        border-color:#ffb400;
    }
    
    input:focus{
        outline-width:2px;
    }
    
    .info{
        color:#76768C;
        display:block;
        margin:6px 0 0 0;
        font-size:14px;
    }

    /*submit*/
    .submit-btn{
        background: #1B1E25;
        color:#fff;
        font-weight:900;
    }

    .submit-btn:hover{
        background:rgba(27,30, 37, .7)
    }

    .form-submit{
        padding-top:20px;
        border-top:1px solid #ccc;
    }

    .register-btn{
        background:#fff;
        color: #1a2c38;
        border:1px solid #1a2c38;
        font-weight:900;
    }


    /*.form-register{
        padding-bottom:20px;
    }*/
    /*form-submit*/


    /*label{ font-weight:900; width:20%;}*/
    /*
         .submit-btn{width:120px; background: #FF5A5F; color:#fff; border-radius:4px;
    font-size:14px; border:none; font-weight:900; text-align: center;}
    */
   /*.form-container{width:100%; /*background:red;*}/
    /*.wrapper{min-width:1024px; overflow:hidden;}
    .sidenav{width:20%; float:left;}
    .edit-profile-section{width:80%; margin:0 auto; }
    
    .content-wrap{width:80%; float:left; border:1px solid #DCE0E0;
    box-sizing:border-box;}
   .content-header {width:100%; font-size:16px; color:#484848;
    height:50px; background: #EDEFED; line-height:50px; text-indent:3%;
    border-bottom:1px solid #DCE0E0;}
    
    .alert{width:100%; background:red;}
    
    
    */
   
   
   /*
    select {-moz-appearance: none; -webkit-appearance: none;
    padding:12px 2em 12px 12px; background:#fff; border-radius:2px;
    border:1px solid #aaa; background-image:url("../../../../assets/img/arrow.png");
    background-position:80%; background-repeat:no-repeat;
    background-size:10px;}
    
    .whereIam{width:320px;}
    
    .intro *{vertical-align: middle;}
    .intro textarea{width:320px; resize:none; outline-width:1px; text-indent:10px;
    padding:10px 0}
   */
    
