<div class="edit-user-profile">
        <div class="content-wrap">
          <h2 class="content-header">프로필 조회 GET & 수정 PATCH </h2>
            <div class="content-body">
              <form [formGroup]="userForm" novalidate>
                <!--+++++++++++++Email+++++++++++++++++++++-->
                <div class="form-label">
                  <!--email get 하기-->
                  <label for="email">Email</label>
                  <input  type="text" placeholder="email"
                  formControlName="email"/>
                  <span class="info">Email은 수정이 불가능합니다.</span>
                </div>
                <!--+++++++++++++Email+++++++++++++++++++++-->
                <!--+++++++++++++NickName+++++++++++++++++++++-->
                <div class="form-label">
                  <label for="nickname">Nickname</label>
                  <input type="text" placeholder="nickname"
                  formControlName="nickName"/>
                  <span *ngIf="nickName.hasError('required') && nickName.touched" class="info">
                    Nickname을 입력해주세요.
                  </span>
                </div>
                <!--+++++++++++++NickName+++++++++++++++++++++-->
                <!--+++++++++++++PasswordGroup+++++++++++++++++++++-->
                <div formGroupName="passwordGroup">
                  <!--+++++++++++++Password+++++++++++++++++++++-->
                  <div class="form-label">
                      <label for="password">Password</label>
                      <input type="password" formControlName="password1" placeholder="password">
                      <span *ngIf="password1.hasError('required') && password1.touched" class="info">
                        password를 입력해주세요
                      </span>
                      <span *ngIf="password1.hasError('pattern') && password1.touched" class="info">
                        password는 영문자가 포함한 8자부터 12자까지입니다!
                      </span>
                  </div>
                  <!--+++++++++++++Password+++++++++++++++++++++-->
                  <!--+++++++++++++Confirm password+++++++++++++++++++++-->
                  <div class="form-label">
                      <label for="confirm_password">Confirm Password</label>
                      <input type="password" formControlName="password2" placeholder="confirm password">
                      <span *ngIf="password2.hasError('required') && password2.touched" class="info">
                        password를 입력해주세요.
                      </span>
                      <span *ngIf="passwordGroup.hasError('match') && password2.touched &&
                      !password2.hasError('required')" class="info">
                        password가 일치하지 않습니다.
                      </span>
                  </div>
                  <!--+++++++++++++Confirm password+++++++++++++++++++++-->
                </div>
                <!--+++++++++++++PasswordGroup+++++++++++++++++++++-->
                <!--+++++++++++++Submit+++++++++++++++++++++-->
                <div class="form-submit">
                  <!-- submit-btn -->
                  <input type="submit" value="Save" class="form-control submit-btn"
                  [disabled]="userForm.invalid">
                </div>
                <div>
                  {{ userForm.value | json }}
                </div>
                <div>
                  {{ userForm.status }}
                </div>
              </form>
            </div>
        </div>
</div>